<MyComponent @select="select" @refresh="refresh" />
{{#scoped-component refresh='refreshModel' select='select' as |options|}}
  <button {{action 'change' 'template/application#change'}}>
    template/application#change
  </button>
  <button {{action options.refresh 'template/application#options.refresh'}}>
    template/application#options.refresh
  </button>
  <button
    {{action options.refreshAll 'template/application#options.refreshAll'}}
  >
    template/application#options.refreshAll
  </button>
{{/scoped-component}}
{{outlet}}
<StackTrace />