{{nested-component refresh='refresh'}}
<button {{action 'refresh' 'template/my-component#refresh(str)'}}>
  template/my-component#refresh(str)
</button>
<button {{action refresh 'template/my-component#refresh(ref)'}}>
  template/my-component#refresh(ref)
</button>
<button {{action 'didInsertElement' 'template/my-component#didInsertElement'}}>
  template/my-component#didInsertElement
</button>